.visible {
  visibility: visible !important; }

.invisible {
  visibility: hidden !important; }

body > * {
  background-size: cover; }

.opaque-overlay {
  overflow: hidden;
  position: relative; }
  .opaque-overlay > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    background: rgba(52, 58, 64, 0.15); }

.gradient-overlay {
  overflow: hidden;
  position: relative; }
  .gradient-overlay > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    background: linear-gradient(to bottom right, #007bff 20%, transparent 80%); }
